doctype html
html
    head
        title Tareas Edit
    body
        form(action=`/tasks/${task.id}?_method=PUT` method="POST")
            textarea(name="descripcion", placeholder="Tarea que desea realizar")= task.descripcion
            input(type="submit" value="Guardar")
