doctype html
html
    head
        title Tareas New
    body
        form(action="/tasks" method="POST")
            textarea(name="descripcion", placeholder="Tarea que desea realizar")
            input(type="submit" value="Guardar")
